<h2>Nesting</h2>
<div class="card">
    <div class="card-header">Base component</div>

    <div class="card-body">
        <div class="row p-3">
            <div class="col-12">
                First Variable - one way binding []: <input [ngModel]="firstVariable">
                ...same variable - two way binding [()]: <input [(ngModel)]="firstVariable">
            </div>
        </div>
        <div class="row p-3">
            <div class="col-12">
                Second Variable - one way binding []: <input [ngModel]="secondVariable">
                ...same variable - two way binding [()]: <input [(ngModel)]="secondVariable">
            </div>
        </div>
        <div class="row p-3">
            <div class="col-12">
                Nested Button Clicked info (): <b>{{ nestedButtonClickedInfo }}</b>
            </div>
        </div>
        <app-nested
            [firstVariableNested]="firstVariable"
            [(secondVariableNested)]="secondVariable"
            (buttonClicked)="onNestedButtonClick($event)"
        ></app-nested>
    </div>
</div>
