<div class="card">
    <div class="card-header">Nested component</div>
    <div class="card-body">
        <div class="p-3">
            Some Nested Variable value: <b>{{ someNestedVariable }}</b>
        </div>
        <div class="p-3">
            Two Way Binding Variable value: <input [(ngModel)]="twoWayBindingNestedVariable" (keyup)="onTwoWayBindingNestedVariableChange()">
        </div>
        <div class="btn-group">
            <button class="btn btn-outline-success" (click)="onButtonClick('Button 1')">Click me (1)</button>
            <button class="btn btn-outline-success" (click)="onButtonClick('Button 2')">Click me (2)</button>
            <button class="btn btn-outline-success" (click)="onButtonClick('Button 3')">Click me (3)</button>
            <button class="btn btn-outline-success" (click)="onButtonClick('Button 4')">Click me (4)</button>
        </div>
    </div>
</div>
